@media (max-width: 991px) {
  //roomlist
  .d-block-under-991px {
    display: block !important;
  }

  //admin
  #d-none-img-profile-under-991px {
    display: none !important;
  }
  .d-none-under-991px {
    display: none !important;
  }
  .width100-under-991px {
    width: 100px !important;
  }
  .text-center-under-991px {
    text-align: center !important;
  }
  //roomdetail


}

@media (max-width: 768px) {
  //home
  .show-under-768px {
    display: block !important;
  }
  .hidden-under-768px {
    display: none !important;
  }
  .container-item-home {
    justify-content: center !important;
  }
  .width200-btn-under-768px {
    width: 200px !important;
  }
  //detailroom
  .responsive-detailroom-container {
    max-width: 100% !important;
    padding: 0 15px;
    margin: 0;
    overflow: hidden;
    height: 100%;
  }
  .responsive-detailroom-desRight {
    margin-top: 10px;
    height: 450px !important;
  }
  .responsive-container-signup-768px {
    max-width: 100%;
  }
  //admin
  .Dashboard{
    width: 50% !important;
  }
  .isHidden-admin-navbar-body{
    display: none !important;
  }
  .admin-navbar-body{
    position: absolute;
    z-index: 12;
    width: 50% !important ;
  }
  .widthfull-under-991px {
    width: 100% !important;
  }
  .out-admin-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 30px);
    background-color: #cccccc;
    opacity: 0.5;
    z-index: 11;
  }
}

@media (max-width: 576px) {
  .padding-under-576px{
    padding: 0 20px 0 33.67px!important;
  }
  .hidden-under-576px {
    display: none !important;
  }
  .width150-btn-under-576px {
    width: 150px !important;
  }
  .width350-modal-under-576px {
    width: 350px !important;
  }
  .paddingX1rem-under-576px {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  //roomlist
  .roomlist-container{
    display: block !important;
  }
  .roomlist-item_{
    width: 100% !important;
    height: 100%;
  }
  .roomlist-map{
    position: relative !important;
    width: 100% !important;
    padding: 0 15px !important;
    padding-bottom: 50px !important;
  }
  //detailroom
  .d-block-under-576px{
    display: block !important;
  }
  .widthfull-under-576px {
    width: 100% !important;
    max-width: 100% !important;
  }
  .ant-picker-panel-container .ant-picker-panels {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
  }
}
