.ant-picker.ant-picker-borderless{
    padding: 0;
    border: 0;
  }
  .ant-picker-input{
    background: #ffffff;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .ant-picker-suffix{
    margin-right: 10px;
  }