.container {
  height: 650px;
  margin-top: 50px;
  .sign_in {
    height: 100%;
    border-radius: 25px;
    border: 0.5px solid rgba(181, 177, 177, 0.4);
    box-shadow: 0px 5px 10px rgba(139, 137, 137, 0.3);

    .sign_in_left {
      width: 65%;
      height: 100%;
      border-radius: 25px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-image: url(../../../../../public/img/login_bg.webp);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .sign_in_right {
      width: 40%;
      height: 100%;
      position: relative;
      background: url("https://img.freepik.com/premium-vector/black-wave-stripe-background_263670-126.jpg?w=2000");
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;

      .bg_cover {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        z-index: 1;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        h2 {
          color: #12b4c0;
          font-size: 33px;
          font-weight: 800;
          font-family: $f-family-primary;
          margin-top: 30px;
          margin-bottom: 40px;
          text-align: center;
        }
        .login_input {
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active {
            transition: background-color 5000s;
            -webkit-text-fill-color: #fff !important;
          }
          .email_inp,
          .password_inp {
            width: 400px;
            border-bottom: 2px solid rgba(243, 232, 232, 0.8);
            border-top: none;
            border-left: none;
            border-right: none;
            background: transparent;
            outline: 0;
            font-size: 20px;
            margin-bottom: 35px;
            color: #ffffff;
          }
        }
        .action_btn {
          .login_btn {
            width: 150px;
            height: 55px;
            border: none;
            border-radius: 25px;
            color: #ffffff;
            background: #12b4c0;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 15px;
            i {
              margin-left: 10px;
            }
          }
          .signin_btn {
            width: 150px;
            height: 55px;
            border: none;
            border-radius: 25px;
            color: #ffffff;
            background: #74c259;
            font-size: 18px;
            font-weight: 300;
            i {
              margin-left: 25px;
            }
          }
        }
      }
    }
  }
}
