@media (max-width: 768px) {
    .show-under-768px{
        display: block !important;
    }
    .hidden-under-768px{
        display: none !important;
    }
    .container-item-home{
        justify-content: center !important;
    }
    .width200-btn-under-768px{
        width: 200px !important;
    }

}

@media (max-width: 576px) {
    .hidden-under-576px{
        display: none !important;
    }
    .width150-btn-under-576px{
        width: 150px !important;
    }
    .width350-modal-under-576px{
        width: 350px !important;
    }
    .paddingX1rem-under-576px{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}