.roomlist-item {
   margin: 0 10px;
   position: relative;
}

.roomlist-item_img {
   width: 100%;
   border-radius: 10px;
   cursor: pointer;
}

.roomlist-item_name {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.roomlist-item_name h3 {
   font-weight: 600;
}

.roomlist-item_des p {
   color: #746b6b;
   margin: 5px 0;
}

.roomlist-item_price {
   font-weight: 600;
   margin-top: 8px;
}

.roomlist-item_price span {
   font-weight: normal;
}

.roomlist-icon_left {
   position: absolute;
   top: 10px;
   left: 10px;
   border-radius: 5px;
   background-color: #fafafa;
   padding: 5px;
}