/* other formats include: 'woff2', 'truetype, 'opentype','embedded-opentype', and 'svg'

For ttf format, you have to mention format('truetype'). For woff, format('woff'). For otf , format ('opentype')
*/

//font-family Circular

@font-face {
    font-family: 'Circular-Medium';
    src: local('Circular-Medium'), url('../../fonts/Circular/CircularStd-Medium.otf') format("opentype");
    font-weight:100;
}
@font-face {
    font-family: 'Circular-Book';
    src: local('Circular-Book'), url(../../fonts/Circular/CircularStd-Book.otf) format("opentype");
    font-weight:400;
}
@font-face {
    font-family: 'Circular-Bold';
    src: local('Circular-Bold'), url(../../fonts/Circular/CircularStd-Bold.otf) format("opentype");
    font-weight:bold;
}
@font-face {
    font-family: 'Circular-Black';
    src: local('Circular-Black'), url(../../fonts/Circular/CircularStd-Black.otf) format("opentype");
    font-weight: bolder;
}

//font-family Segoe UI

@font-face {
    font-family: 'SegoeUI-Medium';
    src: local('SegoeUI-Medium'), url(../../fonts/SegoeUI/Segoe-UI.ttf) format("truetype");
    font-weight:100;
}
@font-face {
    font-family: 'SegoeUI-Bold';
    src: local('SegoeUI-Bold'), url(../../fonts/SegoeUI/Segoe-UI-Bold.ttf) format("truetype");
    font-weight:400;
}
@font-face {
    font-family: 'SegoeUI-BoldItalic';
    src: local('SegoeUI-BoldItalic'), url(../../fonts/SegoeUI/Segoe-UI-Bold-Italic.ttf) format("truetype");
    font-weight:bold;
}
@font-face {
    font-family: 'SegoeUI-Italic';
    src: local('SegoeUI-Italic'), url(../../fonts/SegoeUI/Segoe-UI-Italic.ttf) format("truetype");
    font-weight: bolder;
}

//font-family Segoe UI

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url(../../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight:100;
}